.news-cards-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.news-cards-wrapper:hover .card-cover {
    height: 360px;
}

.content-news-cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 302px;
    height: auto;
}

.content-news-cards * {
    margin: 0;
}

.title-content-news-cards {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.date-news-cards {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 50%;
}

.card-cover {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 20px;
    position: relative;
    /* Fixed sizes */
    width: 302px;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
}

.card-cover:hover .card-cover-image {
    transform: scale(1.21);
    transition: transform .3s ease-out, opacity .3s ease-out !important;
}

.card-cover-tag {
    z-index: 2;
    padding: 0px 12px 0px 12px;
    display: flex;
    gap:4px;
    border-radius:20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    radial-gradient(49.75% 100% at 50% 100%, rgba(251, 223, 6, 0.1) 0%, rgba(251, 223, 6, 0) 100%);
    /* Fixed properties */
    height: 28px;
    position: absolute;
    top: 16px;
    left: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
}

.card-cover-tag > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: auto;
    color: white;
}


.card-cover-image {
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-out !important;
}

.card-cover-l-size {
    /* Fixed sizes */
    height: 280px;
    transition: height .3s ease;
}

.card-cover-xl-size {
    /* Fixed sizes */
    height: 360px;
}

.card-cover-m-size {
    /* Fixed sizes */
    height: 240px;
    transition: height .3s ease;
}

.card-cover-s-size {
    /* Fixed sizes */
    height: 200px;
    transition: height .3s ease;
}