.available-jobs-section {
    padding: 100px 80px 0px 80px;
    gap: 64px;   
}

#available-jobs-text {
    gap: 8px;
}

#count-positions {
    width: 28px;
    height: 28px;
    padding: 0px 12px 0px 12px;
    gap: 4px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(259.51deg, #FBDF06 -2.01%, #FEB700 100%);
}

#jobs-switcher {
    padding: 0px 0px 7px 0px;
    gap: 16px;
}


#show-jobs, #show-internships {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(259.51deg, #FBDF06 -2.01%, #FEB700 100%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 80px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 1260px) {
    .available-jobs-section {
        padding: 64px 24px 0px 24px;
        gap: 40px;
    }

    #available-jobs-wrapper {
        flex-direction: column;
        align-items: start !important;
        gap: 24px;
    }
}

@media (max-width: 723px) {
    .available-jobs-section {
        padding: 40px 16px 0px 16px;
    }
}